{% extends "base.html" %}
{% block title %} Edit User Settings {% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 bg-light">
            <div class="login d-flex align-items-center py-5">
                <div class="container card py-5 px-5">
                    <h5 class="mb-3">Edit Settings</h5>
                    <div class="row">
                        <form method="POST">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <div class="d-grid gap-2 mt-5">
                                <input class="btn btn-primary mb-3" type="submit" value="Update">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}