{% extends "base.html" %}
{% block title %} User Profile {% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 bg-light">
            <div class="login d-flex align-items-center py-5">
                <div class="container card py-5 px-5">
                    <h2>User Details</h2>
                    <div class="row">
                        <div class="col-md-4">
                            {% if "default" in page_user.profile_pic.url %}
                            <img style="width:400px;" alt="default user profile image" class="img-thumbnail"
                                src="https://res.cloudinary.com/demon13/image/upload/v1639504110/default_profile_pic_qzyzr6.png">
                            {% else %}
                            <img style="width:800px;" alt="user profile image" class="img-thumbnail"
                                src="{{ page_user.profile_pic.url }}">
                            {% endif %}
                            {% if user.id == userprofile.user.id %}
                            <br>
                            <a href="{% url 'edit_profile_page' user.userprofile.id %}"> <i class="fas fa-edit"></i>Profile |</a>
                            <a href="{% url 'edit_user_details' %}"> <i class="fas fa-edit"></i>Details</a>
                            {% endif %}
                        </div>
                        <div class="col-md-6">
                            <div class="table-responsive">
                                <table class="table table-user-information">
                                    <tbody>

                                        <tr>
                                            <td>
                                                <strong>
                                                    <i class="fas fa-user"></i>
                                                    Username
                                                </strong>
                                            </td>
                                            <td class="text-primary">
                                                {{ page_user.user.username }}
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>
                                                <strong>
                                                    <i class="fas fa-signature"></i>
                                                    Firstname
                                                </strong>
                                            </td>
                                            <td class="text-primary">
                                                {{ page_user.user.first_name }}
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>
                                                <strong>
                                                    <i class="fas fa-signature"></i>
                                                    Lastname
                                                </strong>
                                            </td>
                                            <td class="text-primary">
                                                {{ page_user.user.last_name }}
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>
                                                <strong>
                                                    <i class="fas fa-envelope"></i>
                                                    Email
                                                </strong>
                                            </td>
                                            <td class="text-primary">
                                                {{ page_user.user.email }}
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>
                                                <strong>
                                                    <i class="fas fa-user-shield"></i>
                                                    Admin
                                                </strong>
                                            </td>
                                            <td class="text-primary">
                                                {{ page_user.user.is_superuser }}
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>
                                                <strong>
                                                    <i class="fas fa-plus-circle"></i>
                                                    Joined
                                                </strong>
                                            </td>
                                            <td class="text-primary">
                                                {{ page_user.user.date_joined }}
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>
                                                <strong>
                                                    <i class="fas fa-address-card"></i>
                                                    Bio
                                                </strong>
                                            </td>
                                            <td class="text-primary">
                                                {{ page_user.bio }}
                                            </td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}