{% extends "base.html" %}
{% block title %} {{ post.title }} {% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-10 offset-md-2 mb-4 mt-4">
            <!-- Featured blog post-->
            <div class="card mb-4">
                <div class="card-body">
                    <h2 class="card-title">{{ post.title }}</h2>
                    <div class="small text-muted">Posted By:
                        <a href="{% url 'profile_page' post.author.userprofile.id %}">{{ post.author }}</a> in
                        <a class="category-link" href="{% url 'category' post.category %}">{{ post.category }}</a>
                    </div>
                    <div class="small text-muted">{{ post.posted_on }}</div>
                    <img class="card-img-top" alt="post image" src="{{ post.content_image.url }}">
                    <small>
                        {% if user.is_authenticated %}
                            {% if user.id == post.author.id %}
                                <a class="post-link" href="{% url 'edit_post' post.pk %}"> Edit |</a>
                                <a class="post-link" href="{% url 'delete_post' post.pk %}"> Delete</a>
                            {% endif %}
                        {% endif %}
                    </small>
                    <hr>
                    <form action="{% url 'like_post' post.pk %}" method="POST">
                        {% csrf_token %}
                        {% if user.is_authenticated %}
                            {% if liked %}
                                <button type="submit" name="post_id" value="{{ post.id }}" class="btn btn-danger">
                                    Unlike
                                </button> 
                            {% else %}
                                <button type="submit" name="post_id" value="{{ post.id }}" class="btn btn-primary">
                                    Like
                                </button> 
                            {% endif %}
                        {% else %}
                            <small><a href="{% url 'login' %}">Login</a> to like</small> <!--Have it redirect to post after logging in?-->
                            <br>
                        {% endif %}
                        <span><i class="far fa-thumbs-up"></i> {{ total_likes.count }}</span>
                        <span><i class="far fa-comments"></i> {{ comments.count }}</span>
                    </form>
                    <hr>
                    <div class="blog-comment">
                        <h3>Comments</h3>
                        <ul class="comments">
                            {% if not post.comments.all %}
                                <p>No comments Yet...</p>
                            {% else %}
                                {% for comment in post.comments.all %}
                                <li class="clearfix">  
                                    <img class="avatar" alt="default profile picture" src="https://res.cloudinary.com/demon13/image/upload/v1639504110/default_profile_pic_qzyzr6.png">                                                                                       
                                    <div class="post-comments">
                                        <p class="meta">{{ comment.created_on }} {{ comment.name }} says :</p>
                                        <p>{{ comment.body }}</p>
                                    </div>
                                </li>
                                {% endfor %}
                            {% endif %}
                        </ul>
                    </div>
                    <hr>
                    <div class="blog-comment">
                        <h3>Leave a comment:</h3>
                        <div>
                            {% if user.is_authenticated %}
                                <p>Leave a comment as: {{ user.username }}</p>
                                <form action="{% url 'comment_post' post.pk %}" method="POST">
                                    {% csrf_token %}
                                    {{ comment_form.as_p }}
                                    <button type="submit" name="post_id" value="{{ post.id }}" class="btn btn-primary mt-3">Submit</button>
                                </form>
                            {% else %}
                                <small><a href="{% url 'login' %}">Login</a> to comment</small>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}