{% extends "base.html" %}
{% block title %} Create A New Post {% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        {% if user.is_authenticated %}
            <h1>Add Post</h1>
            <div class="mb-3">
                <form method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button class="btn btn-secondary">Post</button>
                </form>
            </div>
        {% else %}
            <h2>Sorry you need to be logged in to Add a post</h2>
        {% endif %}
    </div>
</div>
{% endblock %}