{% extends "base.html" %}
{% block title %} Create A New Post {% endblock %}

{% block content %}
{% load cloudinary %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 bg-light">
            <div class="login d-flex align-items-center py-5">
                <div class="container card py-5 px-5">
                    <h5 class="mb-3">Add Post</h5>
                    <div class="row">
                        {% if user.is_authenticated %}
                            <form method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
                                {{ form.as_p }}
                                <div class="d-grid gap-2 mt-5">
                                    <input class="btn btn-primary mb-3" type="submit" value="Post">
                                </div>
                            </form>               
                        <script>
                            var name = "{{ user.id }}";
                            document.getElementById("user").value = name;
                        </script>
                        {% else %}
                        <h2>Sorry you need to be logged in to Add a post</h2>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}