{% extends "base.html" %}
{% block title %} {{ catlist.cat.title }} Page {% endblock %}

{% block content %}
{% if catlist.posts %}
    <div class="container">
        <div class="row">
            <h1>List of {{ catlist.cat }}</h1>
            <div class="col-lg-12 mb-4 mt-4">
                {% for post in catlist.posts %}
                    <!-- Featured blog post-->
                    <div class="card mb-4">
                        <a href="{% url 'post-detail' post.pk %}" class="post-link">
                            <div class="card-body">
                                <h2 class="card-title">{{ post.title }}</h2>
                                <div class="small text-muted">Posted By: {{ post.author }}
                                    <small>
                                        {% if user.is_authenticated %}
                                            <a class="post-link" href="{% url 'edit_post' post.pk %}"> - (Edit)</a>
                                            <a class="post-link" href="{% url 'delete_post' post.pk %}"> (Delete)</a>
                                        {% endif %}
                                    </small>
                                </div>
                                <div class="small text-muted">{{ post.posted_on }}</div>
                                {% if "placeholder" in post.content_image.url %}
                                <img class="card-img-top" src="https://dummyimage.com/850x350/dee2e6/6c757d.jpg">
                                {% else %}
                                <img class="card-img-top" src="{{ post.content_image.url }}">
                                {% endif %}
                                <div class="small text-muted">{{ post.number_of_likes }}<i class="far fa-thumbs-up"></i></div>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
            
{% else %}
<div class="container">
    <div class="row">
        <h2>Sorry this page does not exsist</h2>
    </div>
</div>
{% endif %}
{% endblock %}