{% extends "base.html" %}
{% block title %} Delete Post {% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        {% if user.is_authenticated %}
            {% if user.id == post.author.id %}
                <h1>Delete: {{ post.title }}</h1>
                <div class="mb-3">
                    <form method="POST">
                        {% csrf_token %}
                        <strong>Are you sure?</strong>
                        <br>
                        <br>
                        <button class="btn btn-secondary">Delete Post</button>
                    </form>
                </div>
            {% else %}
                <h2>Sorry you cannot Delete this post</h2>
            {% endif %}
        {% else %}
            <h2>Sorry you need to be logged in to Delete this post</h2>
        {% endif %}
    </div>
</div>
{% endblock %}