{% extends "base.html" %}

{% block content %}

<!-- Page header with logo and tagline-->
<header class="py-5 bg-light border-bottom mb-4">
    <div class="container">
        <div class="text-center my-5">
            <h1 class="fw-bolder">Welcome to Memebase</h1>
            <p class="lead mb-0">A Reddit Style Blog, But... Memes</p>
        </div>
    </div>
</header>
<!-- Page content-->
<div class="container">
    <div class="row">
        <!-- Blog entries-->
        <div class="col-lg-8">
            {% for post in post_list %}
            <!-- Featured blog post-->
            <div class="card mb-4">
                <a href="{% url 'post-detail' post.pk %}" class="post-link">
                    <div class="card-body">
                        <h2 class="card-title">{{ post.title }}</h2>
                        <div class="small text-muted">Posyed By: {{ post.author }} 
                            <small>
                                {% if user.is_authenticated %}
                                    <a class="post-link" href="{% url 'edit_post' post.pk %}"> - (Edit)</a>
                                    <a class="post-link" href="{% url 'delete_post' post.pk %}"> (Delete)</a>
                                {% endif %}
                            </small>
                        </div>
                        <div class="small text-muted">{{ post.posted_on }}</div>
                        {% if "placeholder" in post.content_image.url %}
                        <img class="card-img-top" src="https://dummyimage.com/850x350/dee2e6/6c757d.jpg">
                        {% else %}
                        <img class="card-img-top" src="{{ post.content_image.url }}">
                        {% endif %}
                        <div class="small text-muted">{{ post.number_of_likes }}<i class="far fa-thumbs-up"></i></div>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
        <!-- Side widgets-->
        <div class="col-lg-4">
            <!-- Search widget-->
            <div class="card mb-4">
                <div class="card-header">Search</div>
                <div class="card-body">
                    <div class="input-group">
                        <input class="form-control" type="text" placeholder="Enter search term..."
                            aria-label="Enter search term..." aria-describedby="button-search" />
                        <button class="btn btn-primary" id="button-search" type="button">Go!</button>
                    </div>
                </div>
            </div>
            <!-- Categories widget-->
            <div class="card mb-4">
                <div class="card-header">Categories</div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <ul class="list-unstyled mb-0">
                                <li><a href="#!">Web Design</a></li>
                                <li><a href="#!">HTML</a></li>
                                <li><a href="#!">Freebies</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-6">
                            <ul class="list-unstyled mb-0">
                                <li><a href="#!">JavaScript</a></li>
                                <li><a href="#!">CSS</a></li>
                                <li><a href="#!">Tutorials</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Side widget-->
            <div class="card mb-4">
                <div class="card-header">Side Widget</div>
                <div class="card-body">You can put anything you want inside of these side widgets. They are easy to
                    use, and feature the Bootstrap 5 card component!</div>
            </div>
        </div>
    </div>
    <!--Come back to this-->
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>

            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>

{% endblock %}